<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Filer</string>
	<key>CFBundleDisplayName</key>
	<string>Filer</string>
	<key>CFBundleIdentifier</key>
	<string>org.airyx.Filer</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OBJC</string>
	<key>CFBundleExecutable</key>
	<string>Filer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2021 Airyx Project</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>ProgramArguments</key>
	<array>
		<string>--desktop</string>
		<string>--set-wallpaper</string>
		<string>/usr/share/slim/themes/default/background.jpg</string>
		<string>--wallpaper-mode</string>
		<string>fit</string>
	</array>
</dict>
</plist>
